* {
    box-sizing: border-box;
  }
body {
    background-image: url("../image/wushu.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-position:  10% 10%;
    box-sizing: content-box;
    margin: auto auto;
   
}

#header {
    display: grid;
    box-shadow: 0px 20px 50px 20px rgba(0,0,0,0.75);
    grid-template-columns: 6vw 40vw auto auto;
    background-color: red;
    background-position:  left top;
    width: 100%;
    height: 6vw;
   
    
}
#logo {
    
    align-content: center;

}

#logoSlika {
    margin: 15px;
    border-radius: 10px;
    max-width: 70%;
    
   
}
#prijava button {
    background-color: white;
    border-radius: 0.5vw;
    padding: 0.7vw 1vw;
    font-size: 1vw;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    position: relative;
    top: 45%;
    left: 60%;
    cursor: pointer;
}
#himna audio {

    margin-top: -3vw;
    margin-left: 40%;
    max-width: 16vw;
    max-height: 2.5vw
    

}
#himna > p {
   margin-top:0.1vw;
    margin-left: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-size: 2vw;
    color: rgb(248, 242, 242);
    
      
}
#text p:nth-child(1) {
    margin-top: 10px;
    margin-left: 10px;
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    font-stretch: expanded;
    font-size: 2vw;
    color: white;
}
#text p:nth-child(2) {
    margin-left: 10px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 10px 10px 20px rgba(0,0,0,0.75);
    font-weight: bold;
    font-size: 2.7vw;
    color: white;
    
}
#myBtn1:hover {
   
  
    border-bottom: 0.7vw solid rgb(92, 92, 185);
    color: #023cfa;
  
 
}
body #menu {
   margin-left: 22vw;
}

#menu {
    top: 3%;
    background-color: rgba(223, 196, 196, 0.4);
    border-radius: 20px;
    position: relative;
    width: 55vw;
    height: 40vw;
    text-align: center;
    
    
}
ul {
    list-style-type: none;
    position: relative;
    right: 4%;
    top: 0%;
  
}
li {
    
    display: inline;
    
    position: relative;

}

li a {
  
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1vw;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    

 
}
li a:hover {
    background-color: rgba(255,0,0,0.7);
  
    
    color: white;
}
a {

  color: white;
  padding: 1.5em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
}
.content {
    display: grid;
    background-color: rgba(223, 196, 196, 0.7);
    
    width: 100%;
    height: 90%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} 
#home {
    grid-template-areas:
    
    'item2 item2 item3 item3'
    'item2 item2 item3 item3'
    'item2 item2 item3 item3'
    'item2 item2 item3 item3'
    'item2 item2 item3 item3'
    'item2 item2 item3 item3'
    'item2 item2 item3 item3'
    'item2 item2 item3 item3'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4';
    grid-gap: 1.5vw;
    padding: 1.5vw;
    
}
#home > div {
    display: block;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 50px -20px rgba(0,0,0,1);
    text-align: left;
    padding: 1.5vw 1.5vw;
    font-size: 15px;
    font-weight: normal;
    word-wrap: break-word;
    text-justify: auto;
    
    color: #555;
}

.item2 { grid-area: item2; }
.item3 { grid-area: item3; }
.item4 { 
   
    grid-area: item4; 
}
#left {
    width: 25vw;
    border-top: 1.3vw solid rgb(107, 84, 235);
    
}
#right {
    width: 25vw;
    border-top: 1.3vw solid rgb(107, 84, 235);
    
    
  
}
video {
    width: 100%;
}
#bottom {
    max-width: 52vw;
    border-top: 1.3vw solid red;
}

#bottom > div {
    
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 50px -20px rgba(0,0,0,1);
    text-align: left;
    width: 100%;
    margin-right: -2vw;
    font-size: 15px;
    font-weight: bold;
    word-wrap: break-word;
    
    color: #555; 
}


#malaGalerija {
    display: flex;
    flex-direction: row;
    margin-right: 1vw;
    background-color: rgba(255, 255, 255, 1);
    width: 100%;
    height: 12vw;
    align-items: center;
    

}


#malaGalerija  img {
    float: left;
    margin: 0.8vw;
    width: 10.5vw;
    height: auto;
  
    border-radius: 5px;
    
    
}
.maliDiv {
    border: 1px solid black;
}
.prvi {
    cursor: pointer;
    transition: 0.3s;
}
.prvi:hover {
   opacity: 0.7;
   border: 0.5vw solid red;
}
.drugi{
    cursor: pointer;
    transition: 0.3s;
}
.drugi:hover {
   opacity: 0.7; 
   border: 0.5vw solid red;
}
.treci {
    cursor: pointer;
    transition: 0.3s;

}
.treci:hover {
   opacity: 0.7; 
   border: 0.5vw solid red;
}
.cetvrti {
    cursor: pointer;
    transition: 0.3s;
}
.cetvrti:hover {
   opacity: 0.7; 
   border: 0.5vw solid red;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1;
    padding-top: 20%; 
    padding-left: 45%;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.9); 

}
  
  
.modal-content {
    
    
    display: flex;
    transform: scale(5);
    max-width: 700px;
}
  
 
  #caption {
    
    font-size: 20px;
    margin-top: 43%;
    display: block;
    width: 100%;
    max-width: 700px;
    margin-left: -20%;
    color: #ccc;
  
    height: 150px;
  }
  
  
  .modal-content, #caption {
    
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
   @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }
#about {
    grid-template-areas:
        
    'item3 item3 item3 item3'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4'
    'item4 item4 item4 item4';
    grid-gap: 30px;
    padding:30px;
    
}

#about > div {
   
    border-top: 1.3vw solid red;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 50px -20px rgba(0,0,0,1);
    text-align: justify;
    padding: 30px 30px;
    text-justify: inter-word;
    
   
    font-weight: bold;
    word-wrap: break-word;
    
    color: #555;
}
#about div:first-child   {
    display: block;
    border-top: 20px solid rgb(107, 84, 235);
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 50px -20px rgba(0,0,0,1);
    text-align: center;
    min-width: auto;
    min-height: auto; 
    padding: 0px;
    font-size: 1.5vw;
    
    font-weight: bold;
    word-wrap: break-word;
    
    color: #555;
}

#gallery > div {
    border-top: 1.3vw solid rgb(107, 84, 235);
    display: block;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 50px -20px rgba(0,0,0,1);
    text-align: left;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: bold;
    word-wrap: break-word;
    margin: 30px;
    border-bottom: 0.8vw solid red;
   
    
    color: #555;
}
#competitors > div {
    border-top: 1.3vw solid red;
    display: block;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 50px -20px rgba(0,0,0,1);
    text-align: left;
    padding: 20px 20px;
    font-size: 15px;
    font-weight: bold;
    word-wrap: break-word;
    margin: 30px;
    
    color: #555;
}

#contact > div {
    display: block;
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 20px 20px 50px -20px rgba(0,0,0,1);
    text-align: left;
    /*padding: 20px 20px;*/
    font-size: 15px;
    font-weight: bold;
    word-wrap: break-word;
    
    
    color: #555;
}


#velika {
    width: 70%;
    height: auto;
    border: 20px solid rgb(180, 180, 180);
    margin: 1vw 5vw 1.5vw 7vw;
    border-radius: 20px;
    padding: 1vw;
    

}
.mala {
    width: auto;
    height: 4.5vw;
    margin: 0.3vw;
    
    
    border: 3px solid rgb(180, 180, 180);
    border-radius: 5px;
    opacity: 0.7;
 
}

.mala:hover {
    height: 6.5vw;
    opacity: 1.0;
    border: 0.3vw solid red;
    padding: 0.3vw;
    margin: auto;
    transition-duration: 1s;
    
  
    
}

#contact {
    grid-template-areas:
  
     
    'item2 item3 item3 item3'
    'item2 item3 item3 item3'
    'item2 item3 item3 item3'
    'item2 item3 item3 item3'
    'item2 item3 item3 item3'
    'item2 item3 item3 item3';
    grid-gap: 30px;
    padding: 30px;
}
#contact div:first-child {
    width: 15vw;
    padding: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#contact div:nth-child(2) {
    width: 35vw;
}
#centar {
    
    width: auto;
    height: auto;
    padding: 30px;
    margin-top: -20px;
    
}
.okvir {
    border: 0px solid rgb(129, 129, 129);
    width: 100%;
    

}

#tabelica td {
    border-bottom: 3px solid rgb(129, 129, 129);
}
th {
    background-color: rgb(61, 61, 214);
    color: white;
    height: 40px;
    text-align: center;
    border-bottom: 3px solid rgb(129, 129, 129)
  }
#linija {
    display: inline-block;
    width: 90%;
    border: 10px solid rgb(184, 179, 179);
    margin-left: 3vw;
    height: auto;

}
#linija input {
    margin: 0;
    padding: 1vw;
    font-size: 1vw;
}
#linija::placeholder {
    font-size: 0.5vw;
}

#pretraga {
    width: 100%;
    display: flex;
    border: 5px solid rgb(241, 238, 238);
    flex-direction: row;
    
    overflow: hidden;
 
    
}

#tabelica {
    width: 90%;
    margin-left: 3vw;
   
}


#tabelica tr:hover {
   
    background-color: #c4c0c0;
}
#list {

    margin-left: 50px;
}
#list h2 {
    margin-left: 3vw;
}
#info  {
    border-top: 1.3vw solid rgb(107, 84, 235);
    border-bottom: 0.8vw solid red;
    padding-left: 10px;
}


input, select, textarea {
    width: 90%; 
    padding: 2vw;  
    border: 1px solid #ccc; 
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.5vw; 
    margin-left: 1.2vw;
    margin-bottom: 0.1vw;
    font-size: 1.5vw;
   
}
input::placeholder {
    color: rgb(209, 205, 205);
    font-size: 1vw;
}
textarea::placeholder {
    color: rgb(209, 205, 205);
    font-size: 1vw;
}
#contactForma label {
    margin-left: 1.5vw;
}
  
  
input[type=submit] {
    background-color: rgb(252, 21, 5);
    color: white;
    padding: 0.5vw 1vw;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1.2vw;
    height: 3vw;
}
  
  
input[type=submit]:hover {
    background-color: #023cfa;
}
  
 
.kontejner {
    margin-top: 0.5vw;
    margin-left: 0.5vw;
    width: 32vw;
    height: 30vw;
    border-radius: 5px;
    background-color: #c2bfbe;
    /*padding: 20px;*/
    
} 
.modal1 {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    
}

.modal-content1 {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    height: 500px;
    padding: 0;
    border: 1px solid #888;
    width: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    font-family: Arial, Helvetica, sans-serif;
   
    
}


@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}


.close1 {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close1:hover,
.close1:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header1 {
    padding: 2px 16px;
    background-color: #6263a1;
    color: white;
    text-align: center;
}

.modal-body1 {

    padding: 2px 16px;
}

.modal-body1 input {
    display: flexbox;
    width: 70%;
}

.modal-footer1 {

    padding: 10px 16px;
    background-color: #6263a1;
    color: white;
    text-align: center;
}


input {
    height: 30px;

}

.formKlasa table {
    border: 0px solid black;
    width: 90%;
    padding: 5px;
    margin-left: 20px;
    margin-top: 20px;
}


.formKlasa input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid gray;
    
}

.formKlasa  input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid gray;
}
.formKlasa  select {
    width: 90%;
    padding: 12px;
    margin: 5px 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid gray;
    font-size: 1vw;
}

.formKlasa  button {
    background-color: red;
    width: 90%;
    height: 40px;
    margin-left: 20px;
    padding: 5px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 40px;
    


}

.formKlasa p {
    margin-left: 20px;
}

  